.App {
  font-family: sans-serif;
  text-align: center;
}

.userdetailsContainer {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  height: 30vh;
}

.buttonsContainer {
  margin-top: 20px;
}

.button {
  margin: 10px;
}
